.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  width: 25%;
  max-width: 150px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

.user-card {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-card-header:hover {
  background-color: #e0e0e0;
}

.user-card-details {
  padding: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-info {
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-item {
  list-style: none;
  margin: 0 4px;
}

.page-item.active button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.page-item.active button:hover {
  background-color: #0056b3;
}
.tableheader{
  background-color: rgb(160, 196, 233);
}

